* {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.gogoanimeApp {
    opacity: 0;
    min-height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/background.jpg');
}